{% load i18n %}

<script>
var placeFormView_setLocation = Shareabouts.PlaceFormView.prototype.setLocation;
Shareabouts.PlaceFormView.prototype.setLocation = function(locationData) {
  placeFormView_setLocation.call(this, locationData);

  var $placeNameField = this.$('[name="name"]'),
      $approxAddress = $placeNameField.next(),
      $district;

  if ($approxAddress.length === 0) {
    $approxAddress = $('<p class="approx-address"></p>').insertAfter($placeNameField);
  }

  $approxAddress.html(
    '<br/><span class="address-label">{% trans 'Approximate location:' %}</span> ' +
    '<div class="district-display"></div>' +
    '<div class="address-display">' +
      Handlebars.templates['location-string'](locationData) +
    '</div>');

  $district = $approxAddress.find('.district-display');

  $.ajax({
    url: 'https://shareabouts-region-service.herokuapp.com/api/v1/longbeach/districts-2015?ll=' + locationData.latLng.lat + ',' + locationData.latLng.lng,
    success: function(data) {
      var participatingDistricts = [1, 9];
      var closedDistricts = [9];

      if (_(participatingDistricts).contains(data['COUNCIL_NU'])) {
        $district.html(Handlebars.templates['district-string'](data));

        // Let the user know if the district they're trying to leave an idea in
        // has already closed its PB period.
        if (_(closedDistricts).contains(data['COUNCIL_NU'])) {
          $district.prepend('<span class="closed-district">{% trans 'Please note that the input period for this district is over for 2015/16.' %}</span> ');
          $('#save-place-btn').prop('disabled', true);
        } else {
          $('#save-place-btn').prop('disabled', false);
        }
      } else {
        $district.html('{% trans '(Outside of the PB districts)' %}');
      }
    },
    error: function() {
      $district.html('{% trans '(Outside of the PB districts)' %}');
    }
  });
}
</script>
